body {
  font-family: "Dosis", sans-serif;
}

.cardimage {
  width: 100%;
  height: auto;
  border-radius: 10%;
}
.bannerHeading {
  display: flex;
  height: 300px;
  align-content: center;
  justify-content: center;
  /* margin-top: 74px; */
  background-image: url(../images/courtney-cook-MED-pO6Y7JE-unsplash.jpg);
  background-size: cover;
}

.card {
  border-radius: 10%;
}

.pageTitle {
  font-family: "Dosis", sans-serif;
  font-style: italic;
  font-size: 70px;
  display: flex;
  align-content: center;
  align-items: center;
  color: rgb(80, 77, 77);
  /* margin: 10px;
  padding: 10px; */
}

form {
  background-color: rgb(245, 245, 245);
  border: 1px rgb(235, 234, 234) solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: auto;
  height: auto;
}

footer {
  text-align: center;
}

#contact {
  border: 1px rgb(235, 234, 234) solid;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: auto;
  height: auto;
  align-content: center;
  text-align: center;
}

.mapsGoogs {
  height: auto;
  width: auto;
}

